.numbering {
  &__container {
    position: relative;
    display: inline-block;
    max-width: 50%;
    min-width : 400px;
  }
  &__number {
    color: rgba(black, 0.1);
    // position: absolute;
  }
  &__title {
    font-size: 36px;
    position: absolute;
    top: 46px;
    line-height: 30px;
    left: 30px;
    max-width: 240px;
    color: #75b9be;
  }
  &__text {
    // position: absolute;
    font-size: 24px;
    position: absolute;
    left: 30px;
    top: 110px;
    width: 400px;
    line-height: 32px;
  }
}
