.get-started {
  &__container {
    transition: all 0.5s;
    opacity: 0;
    position: fixed;
    top: 9vh;
    z-index:1000;
    background-color: whitesmoke;
    padding: 25px 5px;
  }
  &__text-container {
    padding: 30px;
    line-height: 70px;
    // background-color: white;
  }
}

.card {
  margin: 1px;
}
.gradient-bg {
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
}
.gradient-fg-1 {
  color: #d2e167 !important;
}

.gradient-fg-2 {
  color: #75b9be !important;
}
.gradient-fg-3 {
  color: #b3d6c6 !important;
}
.card-title {
  color: darken(gray, 15%);
}
