//bootstrap
@import "~bootstrap/scss/bootstrap";

//Font
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

// Foundation
@import "./foundation/variables";
@import "./foundation/base";
@import "./foundation/typography";
@import "./foundation/grid";

// Layout
@import "./layout/components";

// Content
@import "./elements/content";

// Animations
@import "./animation/anim";

// Utilities (Changed Defaults)
@import "./utilities/utility.scss";

// Mobile Optimization
@import "./ot/mobile";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
video {
  background-color: #ddd;
  border-radius: 7px;
  margin: 10px 0px 0px 10px;
  width: 320px;
  height: 240px;
}
button {
  margin: 5px 0px 0px 10px !important;
  width: 654px;
}
